<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <p class="h5 my-0 me-md-auto fw-normal">Company name</p>
        <nav class="my-2 my-md-0 me-md-3">
            <a class="p-2 text-dark" href="/">Home</a>
            <a class="p-2 text-dark" href="/blog">Blog</a>
            <a class="p-2 text-dark" href="/blog/add">Add post</a>
            <a class="p-2 text-dark" href="/registration">Registration</a>
            <a align="right" class="p-2 text-dark" href="/in">Login</a>
        </nav>
    </div>
</div>